<h2>Edit Profile</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="welcomeform">
    <p>Mobile number <em>(US numbers only. No hyphens or dashs, e.g. 1234567890.)</em><br />
    <%= f.text_field :mobile_number, class: "form-control" %></p>
  </div>

  <div class="welcomeform">
    <p>Email<br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %></p>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <hr>

  <p class="lead">Change password</p>

  <div class="welcomeform">
    <p>New Password <em>(leave blank if you don't want to change it)</em><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %></p>
  </div>

  <div class="welcomeform">
    <p>Password Confirmation<br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %></p>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
<br>
<hr>

<h3>Delete my account</h3>

<p><%= button_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
