<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <p>Mobile number <em>(US numbers only. No hyphens or dashs, e.g. 1234567890.)</em><br />
    <%= f.text_field :mobile_number, autofocus: true %></p>
  </div>

  <div class="field">
    <p>Email<br />
    <%= f.email_field :email, autofocus: true %></p>
  </div>

  <div class="field">
    <p>Password
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
