<h1>Article Details</h1>

<strong>Title:</strong> <%= @article.title %><br>
<strong>Link:</strong> <%= @article.link %><br>
<strong>Gif:</strong> <%= @article.gif %><br>
<%= link_to "Edit", edit_article_path %>

<br>
<%= link_to "Article List", articles_path %>