<h2>Keep up with the news with one text a day.</h2>
<p class="lead">With Headlines, get a text every morning to stay up-to-date on news. Stop feeling overwhelmed by TV, magazines, websites, social media feeds, newsletters.</p> 

	<% if user_signed_in? %>
		<p>Thank you for signing up.</p>
		<%= link_to('Edit', edit_user_registration_path) %> <br>
		<%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
	<% else %>
		<p>Create an account to get started.</p>
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>
		  
		  <div>
		  <p>Mobile number (US numbers only. Please enter your area code first.)<br />
		  <%= f.text_field :mobile_number %>
		  </p>
		  </div>
		  
		  <div>
		  <p>Email<br />
		  <%= f.email_field :email %>
		  </p>
		  </div>

		  <div>
		  <p>Password (Minimum length is 8 characters.)<br />
		  <%= f.password_field :password %>
		  </p>
		  </div>

		<div><%= f.submit "Sign Up" %></div>
		<% end %>
	<% end %>
